body{
    padding: 0;
    margin : 0;
    width: 100%;
    background-color: rgb(62, 61, 106);
}
div{
    display: inline-block;
}
button{
    display: inline-block;
    cursor: pointer;
}
header{
    height: 100px;
    width: auto;
    padding: 20px;
}
main{
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.problems{
    display: inline;
}
#container{
    padding: 20px;
    height: auto;
    width: 490px;
    border: 20px solid yellowgreen;
    border-radius: 11px;
    background-color: rgb(250, 237, 237);
    display: flex;
    justify-content: space-between;
}
.card{
    height: 200px;
    width: 490px;
    background-color: rgb(250, 237, 237);
    border: 20px solid yellowgreen;
    border-radius: 11px;
    margin: 10px;
    padding: 20px;
}
.newCard{
    border: 5px solid black;
    border-radius: 11px;
    width: 470px;
    padding: 5px;
}
.newCard p{
    font-weight: bold;
}
.card2{
        height: fit-content;
        width: 490px;
        background-color: rgb(250, 237, 237);
        border: 20px solid yellowgreen;
        border-radius: 11px;
        margin: 10px;
        padding: 20px;
    }
    .newCard2{
        border: 5px solid black;
        border-radius: 11px;
        width: 470px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }